<%- include('partials/header') %>
<div>
    <h1>Page 4</h1>
    
    <h2>Optimized Transactions:</h2>
    <ul>
        <% let count=0 %>
        <% for (let i = 0; i < optimizedTransactions.length; i++) { %>
            <% for (let j = 0; j < optimizedTransactions[i].length; j++) { %>
                <% if (optimizedTransactions[i][j] !== 0) { %>
                    <% count++ %>
                    <li><%= submittedNames[i] %> owes <%= submittedNames[j] %> <%= optimizedTransactions[i][j] %></li>
                <% } %>
            <% } %>
        <% } %>
        <% if(count==0) { %>
            <li><h3>You are all settled up</h3></li>
        <% } %>
    </ul>
</div>
<%- include('partials/footer') %>
